Source: media-debuger
Section: utils
Priority: optional
Maintainer: zhanghongyuan <2063218120@qq.com>
Build-Depends: debhelper (>= 11), 
 pkg-config,
 qt6-base-dev | qtbase5-dev,
 qt6-tools-dev-tools | qttools5-dev-tools,
 qt6-tools-dev | qttools5-dev
Standards-Version: 4.5.0
Homepage: https://gitee.com/sunstom/media-debuger.git
Vcs-Browser: https://github.com/yourusername/media-debuger
Vcs-Git: https://github.com/yourusername/media-debuger.git

Package: media-debuger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
        libqt5widgets5
Description: Media file debug and analysis tool
 A Qt-based application for debugging and analyzing media files,
 providing detailed information about video/audio formats and codecs.

# dde-file-manager-contextmenu install
Package: media-debuger-dde-filemanager-contextmenu
Architecture: all
Depends: media-debuger (= ${source:Version}), dde-file-manager, ${misc:Depends}
Description: DDE file manager context menu integration for media-debuger
 Adds media-debuger options to the context menu of DDE file manager.
 
# nautilus-contextmenu install
Package: media-debuger-nautilus-contextmenu
Architecture: all
Depends: media-debuger (= ${source:Version}),
         nautilus (>= 42),
         python3-gi,
         gir1.2-nautilus-3.0
Description: Nautilus file manager context menu integration for media-debuger
 Adds Media Debuger options to the right-click menu in Nautilus file manager.
 
# media-debuger-dbus install
Package: media-debuger-dbus
Architecture: all
Depends: media-debuger (= ${source:Version}),
         python3-gi,
         python3-pydbus,
         python3
Description: dbus integration for media-debuger
 Adds Media Debuger options to the session dbus.
