#!/usr/bin/make -f

%:
	dh $@ --buildsystem=qmake

override_dh_auto_configure:
	# Prioritize the use of qmake in Qt5. If it does not exist, use qmake6 in Qt6
	if which qmake6 >/dev/null; then \
	        qmake6 PREFIX=/usr media-debuger.pro; \
	else \
	        qmake PREFIX=/usr media-debuger.pro; \
	fi

override_dh_auto_install:
	dh_auto_install -- INSTALL_ROOT=debian/media-debuger-qt6


override_dh_install:
	dh_install
	
	# chang mode
	chmod 644 debian/media-debuger-dde-filemanager-contextmenu/usr/share/applications/context-menus/dde-filemanager-contextmenu.conf
	chmod 755 debian/media-debuger-nautilus-contextmenu/usr/share/nautilus-python/extensions/nautilus-contextmenu.py
