#!/usr/bin/make -f

%:
	dh $@ --buildsystem=qmake

override_dh_auto_configure:
	qmake PREFIX=/usr media-debuger.pro

override_dh_auto_install:
	dh_auto_install -- INSTALL_ROOT=debian/media-debuger


override_dh_install:
	dh_install
	
	# chang mode
	chmod 644 debian/media-debuger-dde-filemanager-contextmenu/usr/share/applications/context-menus/dde-filemanager-contextmenu.conf
	chmod 755 debian/media-debuger-nautilus-contextmenu/usr/share/nautilus-python/extensions/nautilus-contextmenu.py
